.col {
	height: 300px;
}
.info{
	height: 0;
}
.card{
	height: 70px;
}
.riwayat{
	margin-top: 100px;
}
.brand-logo{
	margin-left: 20px;
}
h2.a{
	text-align: center;
	margin-top: 270px;
}
h4.b{
	text-align: center;
	margin-top: 60px;
}
h5.a{
	text-align: center;
}
.responsive-img{
	width: 400px;
	margin-top: 160px;

}
.log{
	width: 65px;
}
.aa{
	width: 400px;
}

footer{
	margin-top: 300px;
}
.ss{
	margin-left: 330px;
}
.home{
	background-image: url("../images/mat.jpg");
	height: 500px;
	margin-top: 0;	
}
.hom{
	text-align: center;
	color: white;
}
.homi{
	margin-left: 597px;
	margin-top: 100px;
}
.as{
	height: 700px;
	background-color: #3949ab;
	color: white;
	margin: 0;
}
.ab{
	margin-top: 100px;
	text-align: center;
}
.aabb{
}
.lak{
	margin-bottom: 20px;
}